
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_LayoutPageNew.cshtml";
}



<div class="content">
    <!-- START SLIDER -->
    <div class="the-slider" data-tesla-plugin="slider" data-tesla-item=".slide" data-tesla-next=".slide-right" data-tesla-prev=".slide-left" data-tesla-container=".slide-wrapper" data-interval="1000">
        <div class="slide-arrows">
            <div class="slide-left"></div>
            <div class="slide-right"></div>
        </div>
        <ul class="slide-wrapper" style="position: relative; height: 488px;">
            <li class="slide">

                <img src="~/Content/Images/SlideImgs/slide1.jpg" class="slider-image" alt="sport 6" />
            </li>
            <li class="slide">
                <img src="~/Content/Images/SlideImgs/slide2.jpg" class="slider-image" alt="sport 6" />
            </li>
            <li class="slide">
                <img src="~/Content/Images/SlideImgs/slide3.jpg" class="slider-image" alt="sport 6" />
            </li>
        </ul>
        <ul class="the-bullets-dots" data-tesla-plugin="bullets">
            <li class="active"><span></span></li>
            <li><span></span></li>
            <li><span></span></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <span class="label label-success" style="font-size:30px;">Kéo xuống để xem thêm!</span>
                </div>
            </div>
        </div>
    </div>
</div>



<br />
<br />

<div class="services-type-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="service">
                    <div class="service-icon color-1">
                        <img src="https://png.icons8.com/decision/dusk/64" title="Decision" width="42" height="42" style="position: relative">
                    </div>
                    <h3>Đặt bữa ăn nhanh chóng và tiên lợi</h3>
                    <p>Có quá nhiều món ngon tại nhà ăn nhưng bạn băn khoăn không biết chọn món nào. Hãy để chúng tôi giúp bạn.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="service-icon color-2">
                        <img src="https://png.icons8.com/request-money/Dusk_Wired/64" title="Request Money" width="42" height="42">
                    </div>
                    <h3>Thống kê chi phí nhanh gọn</h3>
                    <p>Với hệ thống tính tiền tự động và chính xác bạn không cần phải tự mình đếm những con số tiền trong bữa ăn.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="service-icon color-3">
                        <img src="https://png.icons8.com/menu-2/nolan/64" title="Menu 2" width="42" height="42">
                    </div>
                    <h3>Thực đơn</h3>
                    <p>Lên thực đơn cho mọi người thật đơn giản và tiện lợi.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="service">
                    <div class="service-icon color-4">
                        <img src="https://png.icons8.com/manager/dusk/64" title="Manager" width="42" height="42">
                    </div>
                    <h3>Quản lý tài khoản</h3>
                    <p>Tạo tài khoản nhanh chóng cho từng người lao động.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <span class="label label-primary" style="font-size:30px;">THỰC ĐƠN CÓ SẴN</span>
            </div>
        </div>
    </div>
    <br />


    <div class="filter-area">
        <div class="filter-box">
            <ul class="filter tesla_filters" data-tesla-plugin="filters">
                <li><a data-category="" class="active" href="#" style="text-decoration:none;">Xem tất cả</a></li>
                <li><a style="text-decoration:none;" data-category="design" href="#">Món nướng</a></li>
                <li><a style="text-decoration:none;" data-category="art" href="#">Món kho</a></li>
                <li><a style="text-decoration:none;" data-category="illustration" href="#">Món chiên</a></li>
                <li><a style="text-decoration:none;" data-category="psd" href="#">Món canh</a></li>
                <li><a style="text-decoration:none;" data-category="color" href="#">Món xào</a></li>
            </ul>
        </div>
        <div class="row" data-tesla-plugin="masonry">
            <div class="col-md-3 psd col-xs-6">
                <div class="filter-item">
                    <div class="filter-item-cover">
                        <div class="filter-item-cover-hover imghvr-push-up">
                            <figcaption>
                                <h3>Canh chua cá hú</h3>
                                Cá hú nấu canh chua rất ngon. Nhờ vị chua thanh mát của món canh cá hú đã giúp xoa dịu đi cái nóng của miền Nam.
                            </figcaption>
                        </div>

                        <img src="~/Content/Images/Món canh/canh-chua.jpg" />
                    </div>


                </div>
            </div>
            <div class="col-md-3 illustration col-xs-6">
                <div class="filter-item">
                    <div class="filter-item-cover">
                        <div class="filter-item-cover-hover imghvr-push-up">
                            <figcaption>
                                <h3>Cánh gà chiên</h3>
                                Món ăn tuy giản dị, nhưng lại rất đậm đà, đưa cơm. Nhất là cánh gà vẫn giữ được vị giòn giòn cho đến tận cuối bữa ăn
                            </figcaption>
                        </div>


                        <img src="~/Content/Images/MonChien/cach-ga-chien.jpg" />
                    </div>


                </div>
            </div>
            <div class="col-md-3 art col-xs-6">
                <div class="filter-item">
                    <div class="filter-item-cover">
                        <div class="filter-item-cover-hover imghvr-push-up">
                            <figcaption>
                                <h3>Ếch kho sả</h3>
                                Ếch là một thực phẩm giàu chất dinh dưỡng, khi kết hợp với sả thơm lừng, tạo thành một món ăn không thể chối từ.
                            </figcaption>
                        </div>

                        <img src="~/Content/Images/Món kho/ech-kho-sa.jpg" />
                    </div>


                </div>
            </div>
            <div class="col-md-3 design col-xs-6">
                <div class="filter-item">
                    <div class="filter-item-cover">
                        <div class="filter-item-cover-hover imghvr-push-up">
                            <figcaption>
                                <h3>Cá dìa nướng</h3>
                                Cá dìa nướng có vị cay và the nồng quyện với với vị béo bùi của cá biển là một hương vị vô cùng đặc biệt và hấp dẫn.
                            </figcaption>
                        </div>

                        <img src="~/Content/Images/Món nướng/ca-dia-nuong.jpg" />
                    </div>


                </div>
            </div>

            <div class="col-md-3 color col-xs-6">
                <div class="filter-item">
                    <div class="filter-item-cover">
                        <div class="filter-item-cover-hover imghvr-push-up">
                            <figcaption>
                                <h3>Khổ qua xào</h3>
                                Khổ qua xào trứng là một món ăn khá đơn giản, bình dị và chế biến cũng nhanh chóng. Tuy được chế biến đơn giản nhưng nếu các bạn đã từng thử qua đảm bảo sẽ nhận thấy món ăn ngon này sẽ để lại ấn tượng khó phai.
                            </figcaption>
                        </div>

                        <img src="~/Content/Images/Món xào/kho-qua-xao.jpg" />
                    </div>


                </div>
            </div>
            <div class="col-md-3 psd col-xs-6">
                <div class="filter-item">
                    <div class="filter-item-cover">
                        <div class="filter-item-cover-hover imghvr-push-up">
                            <figcaption>
                                <h3>Canh mồng tơi</h3>
                                Không có nhiều dầu mỡ, canh mồng tơi nấu ngao vừa nhanh lại ăn mát, tiện lợi vào những ngày hè nóng nực.
                            </figcaption>
                        </div>

                        <img src="~/Content/Images/Món canh/canh-mong-toi.jpg" />
                    </div>


                </div>
            </div>
            <div class="col-md-3 illustration col-xs-6">
                <div class="filter-item">
                    <div class="filter-item-cover">
                        <div class="filter-item-cover-hover imghvr-push-up">
                            <figcaption>
                                <h3>Thịt heo chiên</h3>
                                Thịt heo chiên nước mắm là món khá đặc trưng của người Việt. Miếng thịt giòn mùi nước mắm thoảng thoảng và vị mặn bám xung quanh thịt rất tuyệt vời!
                            </figcaption>
                        </div>
                        <img src="~/Content/Images/MonChien/thit-heo-chien.jpg" />

                    </div>


                </div>
            </div>
            <div class="col-md-3 art col-xs-6">
                <div class="filter-item">
                    <div class="filter-item-cover">
                        <div class="filter-item-cover-hover imghvr-push-up">
                            <figcaption>
                                <h3>Tôm kho thịt</h3>
                                Mùi thơm của sả, vị ngọt của tôm, cay cay của sa tế và béo ngậy của thịt ba chỉ sẽ làm cho cả nhà bạn ai cũng tấm tắc khen ngon. Đảm báo rằng bạn sẽ không thể khước từ món thịt ba chỉ rang tôm ngon và hấp dẫn này đâu.
                            </figcaption>
                        </div>

                        <img src="~/Content/Images/Món kho/tom-kho-thit.jpg" />
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <a href="@Url.Action("Login","UserLogin")" class="btn btn-primary">Chọn bữa ăn cho mình với thực đơn ngày mai!</a>
            </div>
        </div>
    </div>
</div>
<br />
<br />









